.base {
	margin-bottom: 8px;
}

.header {
	font-weight: bold;
	cursor: pointer;

	i {
		vertical-align: middle;
	}
}

.group-name {
	margin-right: 4px;
}

.members {
	display: flex;
	flex-wrap: wrap;
}

.member {
	display: flex;
	align-items: center;
	margin-right: 8px;
	margin-bottom: 8px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	padding: 4px;
	border-radius: 4px;
	cursor: pointer;

	> :first-child {
		margin-right: 4px;
	}
}